@keyframes drop-in {
  from {
    /* transform: translateY(-100px); */
    opacity: 0;
  }
  to {
    /* transform: translateY(0); */
    opacity: 1;
  }
}

@keyframes drop-right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes drop-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes drop-down {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes drop-down1 {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  33% {
    transform: translateY(0);
    opacity: 0.33;
  }

  66% {
    transform: translateY(0);
    opacity: 0.66;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes drop-down2 {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  25% {
    transform: translateY(0);
    opacity: 0.25;
  }

  50% {
    transform: translateY(0);
    opacity: 0.50;
  }
  75% {
    transform: translateY(0);
    opacity: 0.75;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-drop-in {
  animation: drop-in 1s ease-out forwards;
}

.animate-drop-in1 {
  animation: drop-in 2s ease-out forwards;
}
.animate-drop-in2 {
  animation: drop-in 3s ease-out forwards;
}
.animate-drop-in3 {
  animation: drop-in 3s ease-out forwards;
}
.animate-drop-in4 {
  animation: drop-in 3s ease-out forwards;
}
.animate-drop-in5 {
  animation: drop-in 3s ease-out forwards;
}
.animate-drop-in6 {
  animation: drop-in 3s ease-out forwards;
}
.animate-drop-in7 {
  animation: drop-in 3s ease-out forwards;
}

.animate-drop-down {
  animation: drop-down 1s ease-out forwards;
}

.animate-drop-down1 {
  animation: drop-down 2s ease-out forwards;
}
.animate-drop-down2 {
  animation: drop-down 3s ease-out forwards;
}
.animate-drop-down3 {
  animation: drop-down 4s ease-out forwards;
}
.animate-drop-down4 {
  animation: drop-down 5s ease-out forwards;
}
.animate-drop-down5 {
  animation: drop-down 6s ease-out forwards;
}
.animate-drop-down6 {
  animation: drop-down 7s ease-out forwards;
}
.animate-drop-down7 {
  animation: drop-down 8s ease-out forwards;
}
